body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #222222;
}

a {
    text-decoration: none;
    color: #222222;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
    padding: 10px;
    text-decoration: none;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 10px;
}

.avatar {
    height: 50px;
    border-radius: 25px;
    margin: 5px;
    vertical-align: middle;
}

.signin li {
    background-color: #ccc;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px solid black;
    border-bottom-width: 1px;
}

.header .active {
    font-weight: bold;
}

.header .nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-decoration: none;
    white-space: nowrap;
}

.header .user-area {
    display: flex;
    align-items: center;
}
.header .user-area .avatar {
    height: 24px;
    border-radius: 12px;
    vertical-align: middle;
}

.header .logout {
    padding: 5px;
}

.questions h4 {
    text-align: center;
}

.questions .empty-list {
    text-align: center;
    font-style: italic;
}

.questions .unanswered-list {

}

.question-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
}

.question-info form {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.question-info button {
    width: 100px;
    margin: 0 auto;
}

.question-info .avatar {
    height: 18px;
    border-radius: 9px;
}

.question-info .user span {
    font-size: 12px;
}

.question-info .asks {
    margin: 20px 5px 5px 5px;
    font-weight: bold;
    font-style: italic;
}

.question-info .or-separator {
    margin: 0px 5px;
}

.question-info .option {
    padding: 5px;
    position: relative;
    margin: 5px;
}

.question-info .option.new-answer {
    padding: 0;
}

.question-info .option.new-answer input {
    width: 100%;
}

.question-info .option.new-answer .option-length {
    text-align: right;
    font-size: 10px;
    color: red;
}

.question-info .option.unanswered {
    font-size: 12px;
    padding: 0;
}

.question-info .option.unanswered input {
    vertical-align: text-bottom;
}

.question-info .option.answered {
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.question-info .option.answered div:first-child {
    font-size: 12px;
    font-weight: bold;
}

.question-info .option.answered div:nth-child(2) {
    font-size: 8px;
    font-style: italic;
}

.question-info .option.author-answer {
    border: 1px solid #00CC00;
    border-radius: 5px;
    position: relative;
}
.question-info .option.author-answer:before {
    content: "Your answer";
    display: block;
    position: absolute;
    font-size: 10px;
    background-color: #00CC00;
    border-radius: 2px;
    padding: 2px;
    right: -1px;
    top: -6px;
}

.user-info {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: #eee;
    border-radius: 5px;
}

.user-info .score {
    font-size: 14px;
}

.user-info .answered,
.user-info .created {
    font-size: 10px;
}
